@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Animations */




.neon-border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 3px;
  animation: neon 5s linear infinite;
}

@keyframes neon {
  0% {
      border-image-source: linear-gradient(45deg, #00ffff, #ff00ff);
  
  }
  25% {
      border-image-source: linear-gradient(45deg, #ff00ff, #51ff00);

  }
  50% {
      border-image-source: linear-gradient(45deg, #ffff00, #00ff00);
  }
  75% {
      border-image-source: linear-gradient(45deg, #00c3ff, #00ffff);
  }
  100% {
      border-image-source: linear-gradient(45deg, #00ffff, #ff00ff);
  }
}
